<!DOCTYPE html>
<html ng-app="app">
<head>
	<meta charset="utf-8">
	<title>AngularJS 手风琴导航</title>
	<script type="text/javascript" src="js/angular.js"></script>
	<script type="text/javascript">
		var app = angular.module("app", []);
		app.controller("myApp",function($scope){

			$scope.dates = [
				{
					headOne:"A",
					headTwo:[
						{
							someThing:"1"
						},{
							someThing:"2"
						},{
							someThing:"3"
						}
					]
				},{
					headOne:"B",
					headTwo:[
						{
							someThing:"4"
						},{
							someThing:"5"
						},{
							someThing:"6"
						}
					]
				},{
					headOne:"C",
					headTwo:[
						{
							someThing:"7"
						},{
							someThing:"8"
						},{
							someThing:"9"
						}
					]
				}
			];

			$scope.headClick = function(date){
				if($scope.b == date){
					$scope.b = !date;
				}else{
					$scope.b = date;
				}
			};

			$scope.childClick = function(two){
				if($scope.c == two){
					$scope.c = !two;
				}else{
					$scope.c = two;
				}
				console.log($scope.c);
			};

		});

	</script>
	<style type="text/css">
		.head{
			color: #f00;
		}
		.child{
			color: #0f0;
		}
	</style>
</head>
<body ng-controller="myApp">
	<ul id="head">
		<li ng-repeat="date in dates">
			<span ng-bind="date.headOne" ng-click="headClick(date.headOne)" ng-class="b == date.headOne ? 'head' : '' "></span>
			<ul id="head2" ng-show="b === date.headOne">
				<li ng-repeat="two in date.headTwo">
					<span ng-bind="two.someThing" ng-click="childClick(two.someThing)" ng-class="c == two.someThing ? 'child' : '' "></span>
				</li>
			</ul>
		</li>
	</ul>
</body>
</html>